.page.theme_dark {
  --accent-color: var(--color-purple-2);
  --secondary-color: var(--color-purple-2);
  --secondary-color-light: var(--color-purple-2-light);
  --brand-color: var(--color-purple-1);
  --highlight-color: var(--color-black-1);
  --text-color: var(--color-pink-2);

  --page-background-color: var(--color-black-1);
  --cover-background-image: url("../images/cover-image-dark.png");

  --rec-visible: visible;
}

@media (prefers-color-scheme: dark) {
  .page.theme_auto {
    --accent-color: var(--color-purple-2);
    --secondary-color: var(--color-purple-2);
    --secondary-color-light: var(--color-purple-2-light);
    --brand-color: var(--color-purple-1);
    --highlight-color: var(--color-black-1);
    --text-color: var(--color-pink-2);

    --page-background-color: var(--color-black-1);
    --cover-background-image: url("../images/cover-image-dark.png");

    --rec-visible: visible;
  }
}
