.page.theme_light {
  --accent-color: var(--color-pink-4);
  --secondary-color: var(--color-black-2);
  --secondary-color-light: var(--color-black-2-light);
  --brand-color: var(--color-pink-3);
  --highlight-color: var(--color-black-2);
  --text-color: var(--color-black-2);

  --page-background-color: var(--color-pink-1);
  --cover-background-image: url("../images/cover-image-light.png");

  --rec-visible: hidden;
}

@media (prefers-color-scheme: light) {
  .page.theme_auto {
    --accent-color: var(--color-pink-4);
    --secondary-color: var(--color-black-2);
    --secondary-color-light: var(--color-black-2-light);
    --brand-color: var(--color-pink-3);
    --highlight-color: var(--color-black-2);
    --text-color: var(--color-black-2);

    --page-background-color: var(--color-pink-1);
    --cover-background-image: url("../images/cover-image-light.png");

    --rec-visible: hidden;
  }
}
