/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  position: relative;

  max-width: 375px;
  padding: 10px;

  font-family: "IBM Plex mono", monospace;
  font-size: 18px;
  line-height: 23.4px;

  background-color: #000028;
}

.cover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: -10px;

  background-image: url("../images/cover-image-dark.png");
  background-position: center;
  background-size: cover;

  opacity: 0.5;
  z-index: -1;
}

/* header */

.header {
  position: relative;
  padding-bottom: 56px;
  color: #ff0070;
}

.header__rec {
  position: absolute;
  right: 9px;
  display: flex;
  align-items: center;
  gap: 10px;
  line-height: 25px;
}

.header__rec::before {
  content: "REC";
  line-height: 25px;
}

.header__rec::after {
  content: "";
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px #ff0070;
  background: #ff0070;
  width: 9px;
  height: 9px;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
}

.decorated-zone::before {
  bottom: 0;
  left: 0;
  border-bottom: 1px solid #ff0070;
  border-left: 1px solid #ff0070;
}

.decorated-zone::after {
  top: 0;
  right: 0;
  border-top: 1px solid #ff0070;
  border-right: 1px solid #ff0070;
}

.header__theme-menu {
  padding: 65px 0;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
}

.header__theme-menu-button {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 1.5px 13px;
  width: 70px;
  height: 26px;

  border: none;
  line-height: 18px;
  text-transform: lowercase;
  background: none;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  border: 1px solid #ff007040;
}

.header__theme-menu-button_active {
  border: 1px solid #ff0070;
  pointer-events: none;
}

.page__title {
  color: #db00ff;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  line-height: 95.7px;
  text-shadow: 4px 4px 0px #ff0070;
}

.header__text {
  margin-top: 55px;
  color: #000028;
  background: #ff0070;
  font-weight: 700;
  font-size: inherit;
  line-height: inherit;
}

/* articles */

.main-content {
  display: grid;
  gap: 50px;
  padding: 50px 0;
}

.section {
  display: grid;
  gap: 20px;
}

.section_images {
  gap: 10px;
}

.section__title {
  color: #ff0070;
  font-weight: 700;
  font-size: inherit;
  line-height: inherit;
}

.articles-list {
  display: grid;
  gap: 20px;
}

.article {
  display: grid;
  gap: 10px;
}

.article__title {
  color: #000028;
  background: #ff0070;
  font-weight: 700;
  font-size: inherit;
  line-height: inherit;
}

.article__title_steps {
  margin-bottom: 20px;
}

.article__title_thin {
  font-weight: 400;
}

.article__text {
  color: #f1b2ce;
  font-size: inherit;
  line-height: inherit;
}

.images-list {
  display: grid;
  gap: 10px;
}

.images-list__image {
  display: block;
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

.link {
  text-shadow: 2px 2px 0 #ff0070;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.link:focus {
  outline: 1px solid #f1b2ce;
}

.link:focus-visible {
  outline: 1px solid #f1b2ce;
}

/* footer */

.footer {
  position: relative;
  padding: 280px 0 270px;
}

/* adaptive screens */

@media (width >= 768px) {
  .page {
    max-width: 768px;
    padding: 20px;
  }

  .page__title_ofset {
    position: relative;
    left: -20px;
  }

  .header__theme-menu {
    padding: 172px 0 173px;
  }

  .header__text {
    margin: 166px 0 105px auto;
    width: 364px;
  }

  .main-content {
    gap: 80px;
    padding: 80px 0;
  }

  .section {
    grid-template-columns: 236px 1fr;
  }

  .articles-list__concentration {
    grid-column-start: span 2;
  }

  .section_images {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .article__title_steps {
    margin-bottom: 22px;
  }

  .images-list__image-wrapper:first-child,
  .images-list__image-wrapper:last-child {
    grid-column-start: span 2;
  }

  .images-list__image-wrapper:nth-child(2),
  .images-list__image-wrapper:nth-child(3) {
    grid-row-start: span 2;
  }

  .articles-list_steps {
    grid-column-start: 2;
  }

  .images-list {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .footer {
    padding: 440px 0 445px;
    text-align: center;
  }
}

@media (width >= 1024px) {
  .page {
    max-width: 1024px;
  }

  .cover {
    opacity: 1;
  }

  .page__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__theme-menu {
    display: flex;
    justify-content: center;
    padding: 0 0 290px;
  }

  .header__theme-menu-list {
    margin: auto;
    flex-direction: row;
  }

  .header__text {
    width: 491px;
    margin: 132px 0 58px auto;
  }

  .section {
    column-gap: 20px;
    grid-template-columns: 315px 1fr;
  }

  .section_images {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .articles-list__concentration {
    grid-template-columns: repeat(3, 1fr);
  }

  .footer {
    padding: 315px 0;
  }
}
